<mat-card>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" disablePagination="true">
        @for (
            mapping of TIME_RANGE_MAPPINGS | keyvalue: keepOrder;
            track $index
        ) {
            <a
                mat-tab-link
                [routerLink]="'../' + mapping.key"
                [active]="currentTimeRange === mapping.key"
            >
                {{ mapping.value }}
            </a>
        }
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <app-base-table
            [items]="items"
            [itemsType]="itemsType"
            [columnsMapping]="columnsMapping"
        />
    </mat-tab-nav-panel>
</mat-card>
