app-base-tabs-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .tabs__container {
        min-height: 100%;
        flex: 1;
        margin: 0rem 0.5rem 1rem 0.5rem;

        .mat-mdc-tab-link-container {
            overflow-x: auto;
        }

        .mdc-tab {
            padding: 0 0.25rem;
        }
    }
}
