<mat-toolbar class="header">
    @if (isBelowMediumWidth) {
        <button
            mat-icon-button
            (click)="onMenuToggle()"
            class="header__menu-btn"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <span class="header__title">TuneTools</span>
    } @else {
        <nav class="header__nav">
            <ul class="header__nav-links">
                <li class="header__nav-link header__title" matRipple>
                    <a routerLink="/home">
                        <span>TuneTools</span>
                    </a>
                </li>
                <li
                    class="header__nav-link"
                    [routerLinkActive]="'header__nav-link--active'"
                    matRipple
                >
                    <a routerLink="/top-tracks">
                        <span>Top tracks</span>
                    </a>
                </li>
                <li
                    class="header__nav-link"
                    [routerLinkActive]="'header__nav-link--active'"
                    matRipple
                >
                    <a routerLink="/top-artists">
                        <span>Top artists</span>
                    </a>
                </li>
                @if (false) {
                    <li
                        class="header__nav-link"
                        [routerLinkActive]="'header__nav-link--active'"
                        matRipple
                    >
                        <a routerLink="/top-genres">
                            <span>Top genres</span>
                        </a>
                    </li>
                    <li
                        class="header__nav-link"
                        [routerLinkActive]="'header__nav-link--active'"
                        matRipple
                    >
                        <a routerLink="/recently-played">
                            <span>Recently played</span>
                        </a>
                    </li>
                    <li
                        class="header__nav-link"
                        [routerLinkActive]="'header__nav-link--active'"
                        matRipple
                    >
                        <a routerLink="/playlists">
                            <span>Playlists</span>
                        </a>
                    </li>
                    <li
                        class="header__nav-link"
                        [routerLinkActive]="'header__nav-link--active'"
                        matRipple
                    >
                        <a routerLink="/settings">
                            <span>Settings</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
</mat-toolbar>
