:host {
    .header {
        &__title {
            flex-grow: 1;
        }

        &__nav-links {
            display: flex;
            gap: 20px;

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
