@use "@angular/material" as mat;
@use "../../../styles/variables" as *;

:host {
    .header {
        background-color: $primary-color;
        color: $tertiary-text-color;
        font-weight: 500;
        font-size: 1.25rem;
        display: flex;
        gap: 0.5rem;

        &__title {
            margin-right: auto;
        }

        &__nav {
            $block: &;
            display: flex;
            width: 100%;

            &-links {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.25rem;
                margin: 0;
                padding: 0;

                @at-root #{ $block }-link {
                    border-radius: 0.5rem;
                    padding: 0.25rem 0.5rem;

                    &--active,
                    &:hover {
                        background-color: rgba(
                            $color: $dark-background,
                            $alpha: 0.6
                        );
                    }
                }
            }
        }
    }
}
