<mat-toolbar color="primary" class="header">
    @if (isBelowMediumWidth) {
        <button
            mat-icon-button
            (click)="onMenuToggle()"
            class="header__menu-btn"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <div class="header__title">TuneTools</div>
    } @else {
        <a routerLink="/home" class="header__title">TuneTools</a>
        <div class="header__nav-links">
            <a routerLink="/top-tracks">Top tracks</a>
            <a routerLink="/top-artists">Top artists</a>
            <a routerLink="/top-genres">Top genres</a>
            <a routerLink="/recently-played">Recently played</a>
            <a routerLink="/playlists">Playlists</a>
            <a routerLink="/settings">Settings</a>
        </div>
    }
</mat-toolbar>
