@use "../../../styles/variables" as *;

:host {
    .main-content {
        $block: &;
        flex: 1 1 auto;
        position: static;
        min-height: 100%;

        &__sidenav {
            width: 250px;
        }

        &__area {
            height: 100%;

            @at-root #{ $block }__container {
                display: flex;
                justify-content: center;
                flex-direction: column;

                & > * {
                    flex: 1 1 auto;
                }
            }
        }

        &__nav {
            &-link {
                border-radius: 4px;
                padding: 4px 8px;
            }

            &-item {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}
