<mat-sidenav-container class="main-content">
    @if (isBelowMediumWidth) {
        <mat-sidenav
            #menu
            mode="over"
            class="main-content__sidenav"
            [autoFocus]="false"
        >
            <mat-nav-list>
                <a
                    mat-list-item
                    routerLink="/home"
                    class="main-content__nav-link"
                    [routerLinkActive]="'main-content__nav-link--active'"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="Home icon"
                            class="main-content__icon"
                            >home</mat-icon
                        >
                        <span class="main-content__link-text">Home</span>
                    </span>
                </a>
                <a
                    mat-list-item
                    routerLink="/top-tracks"
                    class="main-content__nav-link"
                    [routerLinkActive]="'main-content__nav-link--active'"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="Audiotrack icon"
                            class="main-content__icon"
                            >audiotrack</mat-icon
                        >
                        <span class="main-content__link-text">Top tracks</span>
                    </span>
                </a>
                <a
                    mat-list-item
                    routerLink="/top-artists"
                    class="main-content__nav-link"
                    [routerLinkActive]="'main-content__nav-link--active'"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="Person icon"
                            class="main-content__icon"
                            >person</mat-icon
                        >
                        <span class="main-content__link-text">Top tracks</span>
                    </span>
                </a>
                <a
                    mat-list-item
                    routerLink="/top-genres"
                    class="main-content__nav-link"
                    [routerLinkActive]="'main-content__nav-link--active'"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="Category icon"
                            class="main-content__icon"
                            >category</mat-icon
                        >
                        <span class="main-content__link-text">Top tracks</span>
                    </span>
                </a>
                <a
                    mat-list-item
                    routerLink="/recently-played"
                    class="main-content__nav-link"
                    [routerLinkActive]="'main-content__nav-link--active'"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="History icon"
                            class="main-content__icon"
                            >history</mat-icon
                        >
                        <span class="main-content__link-text"
                            >Recently played</span
                        >
                    </span>
                </a>
                <a
                    mat-list-item
                    routerLink="/playlists"
                    class="main-content__nav-link"
                    [routerLinkActive]="'main-content__nav-link--active'"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="Queue music icon"
                            class="main-content__icon"
                            >queue_music</mat-icon
                        >
                        <span class="main-content__link-text">Playlists</span>
                    </span>
                </a>
                <a
                    mat-list-item
                    routerLink="/settings"
                    class="main-content__nav-link"
                    [routerLinkActive]="'main-content__nav-link--active'"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="Settings icon"
                            class="main-content__icon"
                            >settings</mat-icon
                        >
                        <span class="main-content__link-text">Settings</span>
                    </span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
    }
    <mat-sidenav-content class="m-3 | main-content__area">
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
