<mat-sidenav-container class="main-content">
    @if (isHandset) {
        <mat-sidenav #menu mode="over" class="main-content__sidenav">
            <mat-nav-list>
                <a
                    mat-list-item
                    routerLink="/"
                    class="main-content__nav-link"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="Home icon"
                            class="main-content__icon"
                            >home</mat-icon
                        >
                        <span class="main-content__link-text">Home</span>
                    </span>
                </a>
                <a
                    mat-list-item
                    routerLink="/features"
                    class="main-content__nav-link"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="Features icon"
                            class="main-content__icon"
                            >build</mat-icon
                        >
                        <span class="main-content__link-text">Features</span>
                    </span>
                </a>
                <a
                    mat-list-item
                    routerLink="/about"
                    class="main-content__nav-link"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="About icon"
                            class="main-content__icon"
                            >info</mat-icon
                        >
                        <span class="main-content__link-text">About</span>
                    </span>
                </a>
                <a
                    mat-list-item
                    routerLink="/contact"
                    class="main-content__nav-link"
                    (click)="menu.toggle()"
                >
                    <span class="main-content__nav-item">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="Contact icon"
                            class="main-content__icon"
                            >contacts</mat-icon
                        >
                        <span class="main-content__link-text">Contact</span>
                    </span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
    }
    <mat-sidenav-content class="m-3 | main-content__area">
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
