app-top-tracks-details {
    width: 100%;

    .details-content {
        display: flex;
        justify-content: center;
        gap: 10%;

        &__section {
            display: flex;
            justify-content: center;
            align-items: center;

            .mdc-evolution-chip-set__chips {
                flex-direction: column;
                max-width: 100%;

                .mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
                .mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
                .mat-mdc-standard-chip .mat-mdc-chip-action-label {
                    overflow: hidden;
                }

                .album-detail {
                    width: 14rem;

                    .mdc-evolution-chip__text-label {
                        white-space: nowrap;
                        user-select: none;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
