@use "@angular/material" as mat;

@use "./app/styles/variables" as *;
@use "./app/styles/themes" as *;
@use "./app/styles/utilities" as *;

// Include the common styles for Angular Material
@include mat.core();

// Include light theme styles globally
@include mat.all-component-themes($light-theme);

// Dark theme styles scoped to a CSS class
.dark-theme {
    @include mat.all-component-colors($dark-theme);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}
